body{
    color: #F2E7D5;
    margin: 0;
    font-family: Georgia, sans-serif ;
    background-color: #6D9886;
}


/*TOP NAVBAR*/
.top-navbar{
    background-color: #393E46;
    text-align: right;
    padding-right: 10em;
    padding: 3em;
}

.top-navbar a:any-link{
    text-decoration: none;
    margin-left: 2em;
}

.top-navbar a:link{
    color: #F2E7D5;
}

.top-navbar a:visited{
    color: #F2E7D5;
}

.top-navbar a:hover{
    color: #F7F7F7;
}



/* Mountain */
.top-intro{
    background-color: #393E46;
    text-align: center;
}

.nature{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    border: none;
}

.cloud1{
    display: block;
    margin: 0 0 5px auto;
}

.cloud2{
    display: block;
    margin: 0 auto 0 0;
}

.mountain{
    max-width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-bottom: -3.5px;
}