body{
    color: #F2E7D5;
    margin: 0;
    font-family: 'Lobster', cursive, serif;
    background-color: #6D9886;
}

h2{
    font-size: 2.5rem;
    font-weight: normal;
}

hr{
    border-color: #393E46;
    margin: 3rem auto;
    width: 5%;
    border-style: none;
    border-top: dotted 0.5rem;
}


/*TOP NAVBAR*/
.navpic{
    height: 5rem;
    margin-right: 50em;
}

.top-navbar{
    background-color: #393E46;
    padding-top: 10px;
    text-align: center;
}

.top-navbar a{
    vertical-align: 25px;
    margin: 0 2rem;
}

a:any-link{
    text-decoration: none;
}

a:link{
    color: #F2E7D5;
}

a:visited{
    color: #F2E7D5;
}

a:hover{
    color: #F7F7F7;
}

a{
    font-size: larger;
}

p{
    font-size: larger;
}



/* Mountain */
.imjack{
    margin-top: 30px;
    height: 6rem;
}

.top-intro{
    background-color: #393E46;
    text-align: center;
}

.nature{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    border: none;
}

.cloud1{
    display: block;
    margin: 0 0 5px auto;
}

.cloud2{
    display: block;
    margin: 0 auto 0 0;
}

.mountain{
    max-width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-bottom: -3.5px;
}

/* Green background */
.greenBackground{
    color: #393E46;
    text-align: center;
}

.profile{
    margin-top: 2em;
}



.footer-link{
    margin: 1em 2em;
}

/* Skills */

.skill-row{
    margin: 6.25rem auto;
    width: 35%;
    text-align: left;
    line-height: 1.5;
    
}

.htmlImage{
    width: 25%;
    float: left;
    margin-right: 5rem;
}

.cssImage{
    width: 25%;
    float: right;
    margin-left: 5rem;
}

/* Bottom */
.btn {
    border-radius: 9px;
    font-family: Arial;
    color: #F2E7D5;
    font-size: 20px;
    background: #393E46;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6D9886;
    text-decoration: none;
  }

.contact-me{
    margin: 4rem auto;
}

.contact-me p{
    margin: 0 auto 4rem auto;
}

.bottom-container{
    background-color: #393E46;
    color: #F2E7D5;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bottom-container p{
    margin-bottom: 0;
}
