body{
    display: flex;
    flex-direction: column;
    color: #F2E7D5;
    margin: 0;
    font-family: 'Lobster', cursive, serif;
    background-color: #6D9886;
}

h2{
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
}

hr{
    border-color: #393E46;
    margin: 3rem auto;
    width: 5%;
    border-style: none;
    border-top: dotted 0.5rem;
}


/*TOP NAVBAR*/

.navpic{
    height: 5rem;
}

.top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #393E46;
    padding: 1rem 0;
}

.navbar-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 2rem;
}


a:any-link{
    text-decoration: none;
}

a:link{
    color: #F2E7D5;
}

a:visited{
    color: #F2E7D5;
}

a:hover{
    color: #F7F7F7;
}

a{
    font-size: larger;
}

p{
    font-size: larger;
}



/* Mountain */
.top-intro{
    display: flex;
    justify-content: center;
    background-color: #393E46;
}

.imjack{
    width: 70%;
    align-self: center;
}

.cloud-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.7rem;
    width: 100%;
}

.nature{
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    gap: 0.5rem;
}

.cloud1{
    display: flex;
    align-self: flex-start;

}

.cloud2{
    display: flex;
    align-self: flex-end;
}

.mountain{
    max-width: 100%;
}

/* Green background */
.greenBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #393E46;
    margin-top: 2rem;
    text-align: center;
}

.middle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


/* Skills */

.skills{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
}

.skill-row{
    display: flex;
    gap: 2rem;
}

.htmlImage{
    align-self: center;
    width: 35%;
}

.cssImage{
    align-self: center;
    width: 35%;
}

/* Bottom */
.btn {
    border-radius: 9px;
    font-family: Arial;
    color: #F2E7D5;
    font-size: 20px;
    background: #393E46;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #6D9886;
    text-decoration: none;
}

.contact-me{
    margin: 4rem auto;
}

.contact-me p{
    margin: 0 auto 4rem auto;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: #393E46;
    color: #F2E7D5;
    padding-top: 2rem;
}

.social{
    display: flex;
    gap: 6rem;
}
